<hr class="mt-4 "/>
<footer role="contentinfo" class="grid grid-cols-3 bottom-0 container mx-auto shadow rounded-md bottom-0 bg-slate-50 dark:bg-slate-800 dark:text-slate-100 px-4 my-4 h-24">
  <div id="footer-column-1" class= md:mx-auto text-small">
    <p>{{SITE_URL}}</p>
    <p>Website Created with <a href="https://github.com/render-engine/render-engine">Render Engine</a> and <a
                            class="hover:underline" href="https://github.com/kjaymiller/render_engine_theme_kjaymiller">kjaymiller theme</a>
    
    </div>
    <div id="footer-column-2">
      {% if theme.footer_column2 %}
      {% include theme.footer_column2 %}
      {% endif %}
    </div>
    <div id="footer-column-3">
    {% if 'social' in theme %}
    {% include 're-kjm-social-cards.html' %}
    {% endif %}
  </div>
</footer>
