<head>
    {% if analytics is defined %}
    {% include '_analytics.html' %}
    {% endif %}
    {# Fetch a favicon url from the theme if it exists #}
    {% if favicon in theme %}
    <link rel="icon" href="{{theme.favicon}}" />
    {% else %}
    <link rel="icon" href="https://fav.farm/👩🏾‍💻" />
    {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Stylesheets #}
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{{SITE_URL}}/static/css/tailwind.css" />
    <!-- Pygments for code blocks -->
    <link rel="stylesheet" href="{{SITE_URL}}/static/css/pygments.css" />
    {% if theme.fontawesome is defined %}
    <script src="https://kit.fontawesome.com/{{theme.fontawesome}}.js" crossorigin="anonymous"></script>
    {% endif %}
    {# End Stylesheets #}
    {# Adds custom head content #}
    {% block head %}{% endblock %}
    <title>
        {% if title != "Index" %}
        {{title}} - {% endif %}{{SITE_TITLE}}
    </title>
</head>