{% from 'components/social-cards.html' import social_cards with context %}
{% extends 'base.html' %}
{% block content %}
<div class="border my-5 p-3 shadow-lg">
    <h2 class="text-2xl text-purple-700 my-2">Email Me</h2>
    {% if content %}
    {{content}}
    {% endif %}
</div>

<p>You can email me at <a href="mailto:{{OWNER.email}}">{{OWNER.email}}</a></p>


<section class="section">
<div class="my-5 py-6 ">
<div class="content">
    <h3 class="text-2xl">Social Media</h3>
    {{social_cards()}}
</div>
</div>
</section>
{% endblock %}
