{% extends 'kjaymiller_com/components/_base.html'%} 
{% block content %}
  <div class="mx-auto">
  {% if hero %}
    <section lass="py-4 my-2">
      {% if hero.from_template %}
      {% include hero.from_template %}
      {% else %}
      {% if hero.target %}
      <h2 class="text-3xl my-3 font-semibold"><a href="{{hero.target}}">{{hero.title}}</a></h2>
      {% else %}
      <h2 class="text-3xl my-3 font-semibold">{{hero.title}}</h2>
      {% endif %}
      <article class="prose lg:prose-lg dark:prose-invert prose-slate">
        {{hero.content}}
        {% endif %}
      </article>
    </section>
  {% endif %}
  {% if secondary %}
  <section class="container mx-auto my-2 py-2">
    {% if secondary.target %}
    <h2 class="mx-4 text-3xl font-light"><a href="{{secondary.target}}">{{secondary.title}}</a></h2>
    {% else %}
    <h2 class="mx-4 text-3xl font-light">{{secondary.title}}</h2>
    {% endif %}
    {% if secondary.from_template%}
        {% include secondary.from_template %}
    {% else %}
      {{secondary.content}}
    {% endif %}
  <div class="text-right">
    <p><a class="underline hover:text-{{COLOR_MAIN}}" href="{{secondary.target}}">More from {{secondary.title}}</a></p>
  </div>
  </section>
  {% endif %}
  {% if other %}
<section class="container">
    {% if other.target %}
    <h2><a href="{{other.target}}">{{other.title}}</a></h2>
    {% else %}
    <h2>{{other.title}}</h2>
    {% endif %}
    {% for other_section in other['sections'] %}
    {% if other_section.target %}
    <h3 class="my-4 text-xl font-bold"><a href="{{other_section.target}}">{{other_section.title}}</a></h3>
    {% else %}
    <h3 class="my-4 text-xl font-bold">{{other_section.title}}</h3>
    {% endif %}
    {% if other_section.from_template %}    
      {% include other_section.from_template %}
    {% else %}
      <p>
        {{other_section.content}}
      <p>
    {% endif %}
    {% endfor %}
  {% endif %}
</section>
</div>
{% endblock %}